<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <meta http-equiv="refresh" content="0" th:attr="content=${refreshInterval}">

    <title>HPC Hosts</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Include Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <!-- Include Bootstrap icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Include DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">

    <!-- jQuery must come before Datatables -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" ></script>

    <!-- Include DataTables JS -->
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
</head>
<body>

<header>Future Site Branding and Logo</header>

<a th:href="@{/}" >Return to Home</a>

<main>
    <h1 th:text="${pageTitle}"></h1>

    <p><strong>Report Time:</strong> <span th:text="${formattedTimestamp}"></span></p>
    <p><strong>Timestamp:</strong> <span th:text="${timestamp}"></span></p>

    <table id="hpcHosts" class="display">
        <thead>
        <tr>
            <th>Hostname</th>
            <th>Fully Qualified Domain Name</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="host : ${hpcHosts}">
            <td th:text="${host.hostname}"></td>
            <td th:text="${host.fqdn}"></td>
            <td>
        <span th:if="${host.status == 'Offline'}" class="text-danger">
            <i class="bi bi-x-circle-fill"></i> <!-- Red X -->
            <span th:text="${host.status}"></span> <!-- OFFLINE -->
        </span>
                <span th:if="${host.status == 'Online'}" class="text-success">
            <i class="bi bi-check-circle-fill"></i> <!-- Green Check -->
            <span th:text="${host.status}"></span> <!-- ONLINE -->
        </span>
                <span th:if="${host.status != 'Online' and host.status != 'Offline'}" class="text-muted">
            <i class="bi bi-question-circle-fill"></i> <!-- Gray Question Mark -->
            <span th:text="${host.status}"></span> <!-- Any other status -->
        </span>
            </td>

        </tr>
        </tbody>
    </table>

</main>

<footer>
    <p>Copyright 2025 UCAR</p>
</footer>

<script>

    $(document).ready(function () {

        $('#hpcHosts').DataTable();
    });

</script>

</body>
</html>
