<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base-layout}">

<head>
    <title>HPC Host Status</title>

    <th:block layout:fragment="head-extras">
        <meta http-equiv="refresh" content="0" th:attr="content=${refreshInterval}">
    </th:block>
</head>

<body>
<div layout:fragment="content">

    <h1 th:text="${pageTitle}"></h1>

    <p><strong>Report Time:</strong> <span th:text="${formattedTimestamp}"></span></p>
    <p><strong>Timestamp:</strong> <span th:text="${timestamp}"></span></p>

    <table id="hpcHosts" class="display">
        <thead>
        <tr>
            <th>Hostname</th>
            <th>Fully Qualified Domain Name</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="host : ${hpcHosts}">
            <td th:text="${host.hostname}"></td>
            <td th:text="${host.fqdn}"></td>
            <td>
        <span th:if="${host.status == 'Offline'}" class="text-danger">
            <i class="bi bi-x-circle-fill"></i> <!-- Red X -->
            <span th:text="${host.status}"></span> <!-- OFFLINE -->
        </span>
                <span th:if="${host.status == 'Online'}" class="text-success">
            <i class="bi bi-check-circle-fill"></i> <!-- Green Check -->
            <span th:text="${host.status}"></span> <!-- ONLINE -->
        </span>
                <span th:if="${host.status != 'Online' and host.status != 'Offline'}" class="text-muted">
            <i class="bi bi-question-circle-fill"></i> <!-- Gray Question Mark -->
            <span th:text="${host.status}"></span> <!-- Any other status -->
        </span>
            </td>

        </tr>
        </tbody>
    </table>

</div>

<th:block layout:fragment="scripts">

    <script>
    $(document).ready(function () {

        $('#hpcHosts').DataTable({
            paging: false
        });
    });
    </script>

</th:block>

</body>
</html>
