<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base-layout}">

<head>
    <title>Data Commons Dashboard</title>
</head>

<body class="ncar">
<div layout:fragment="content">
    <div class="content-wrapper pb-4 mb-4">

        <section class="dashboard-sectionv mt-3">
            <h2>Hosts</h2>
            <div class="nav flex-column gap-2">
                <a th:href="@{/hpc/dashboard/host}" class="dashboard-link">HPC Hosts</a>
                <a th:href="@{/hpc/dashboard/host-ws}" class="dashboard-link">HPC Hosts Websocket</a>
            </div>
        </section>

        <section class="dashboard-section mt-3">
            <h2>Jobs</h2>
            <div class="nav flex-column gap-2">
                <a th:href="@{/hpc/dashboard/casper/jobs/table}" class="dashboard-link">Casper Jobs Table</a>
                <a th:href="@{/hpc/dashboard/derecho/jobs/table}" class="dashboard-link">Derecho Jobs Table</a>
                <a th:href="@{/hpc/dashboard/casper/jobs/tablefull}" class="dashboard-link">Casper Jobs Table Full Width</a>
                <a th:href="@{/hpc/dashboard/derecho/jobs/tablefull}" class="dashboard-link">Derecho Jobs Table Full Width</a>
            </div>
        </section>

    </div>

</div>
</body>
</html>
