<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/headContent.html}">
    <title th:text="${pageTitle ?: 'Default Title'}">Job Details Full</title>
</head>
<body>

<header>Future Site Branding and Logo</header>

<a th:href="@{/}" >Return to Home</a>

<main>
    <h1 th:text="${pageTitle}"></h1>

    <p><strong>Timestamp:</strong> <span th:text="${#dates.format(formattedTimestamp, 'yyyy-MM-dd HH:mm:ss')}"></span></p>
    <p><strong>Pbs Version:</strong> <span th:text="${jobData.pbsVersion}"></span></p>
    <p><strong>Pbs Server:</strong> <span th:text="${jobData.pbsServer}"></span></p>

    <table class="table table-bordered table-striped table-hover">
        <thead class="table-header">
        <tr>
            <th>Job Key</th>
            <th>Job Name</th>
            <th>Job Owner</th>
            <th>Job State</th>
            <th>Queue</th>
            <th>Server</th>
            <th>Account Name</th>
            <th>Checkpoint</th>
            <th>Creation Time</th>
            <th>Error Path</th>
            <th>Hold Types</th>
            <th>Join Path</th>
            <th>Keep Files</th>
            <th>Mail Points</th>
            <th>Modification Time</th>
            <th>Output Path</th>
            <th>Priority</th>
            <th>Queue Time</th>
            <th>Rerunable</th>
            <th>Resource List</th>

            <th>Start Time</th>
            <th>Obit Time</th>
            <th>Shell Path List</th>
            <th>Job Directory</th>
            <th>Substate</th>
            <th>Variable List</th>

            <th>Comment</th>
            <th>Elapsed Time</th>
            <th>Umask</th>
            <th>Run Count</th>
            <th>Eligible Time</th>
            <th>Exit Status</th>
            <th>Submit Arguments</th>
            <th>Project</th>
            <th>Submit Host</th>
            <th>Server Instance ID</th>
        </tr>
        </thead>
        <tbody th:each="entry : ${jobData.jobs}">

        <tr th:with="job=${entry.value}" >

            <td><span th:text="${entry.key}"></span></td>
            <td><span th:text="${job.jobName}"></span></td>
            <td><span th:text="${job.jobOwner}"></span></td>
            <td><span th:text="${job.jobState}"></span></td>
            <td><span th:text="${job.queue}"></span></td>
            <td><span th:text="${job.server}"></span></td>
            <td><span th:text="${job.accountName}"></span></td>
            <td><span th:text="${job.checkpoint}"></span></td>
            <td><span th:text="${job.ctime}"></span></td>
            <td><span th:text="${job.errorPath}"></span></td>
            <td><span th:text="${job.holdTypes}"></span></td>
            <td><span th:text="${job.joinPath}"></span></td>
            <td><span th:text="${job.keepFiles}"></span></td>
            <td><span th:text="${job.mailPoints}"></span></td>
            <td><span th:text="${job.mtime}"></span></td>
            <td><span th:text="${job.outputPath}"></span></td>
            <td><span th:text="${job.priority}"></span></td>
            <td><span th:text="${job.qtime}"></span></td>
            <td><span th:text="${job.rerunable}"></span></td>
            <!--            <td><span th:text="${job.resourceList}"></span></td>-->
            <td>
                <ul th:each="resourceList : ${job.resourceList}">
                    <li>
                        <strong>mem:</strong> <span th:text="${resourceList.mem}"></span>
                    </li>
                    <li>
                        <strong>miprocs:</strong> <span th:text="${resourceList.mpiprocs}"></span>
                    </li>
                    <li>
                        <strong>mps:</strong> <span th:text="${resourceList.mps}"></span>
                    </li>
                    <li>
                        <strong>ncpus:</strong> <span th:text="${resourceList.ncpus}"></span>
                    </li>
                    <li>
                        <strong>ngpus:</strong> <span th:text="${resourceList.ngpus}"></span>
                    </li>
                    <li>
                        <strong>nodect:</strong> <span th:text="${resourceList.nodect}"></span>
                    </li>
                    <li>
                        <strong>nvpus:</strong> <span th:text="${resourceList.nvpus}"></span>
                    </li>
                    <li>
                        <strong>place:</strong> <span th:text="${resourceList.place}"></span>
                    </li>
                    <li>
                        <strong>select:</strong> <span th:text="${resourceList.select}"></span>
                    </li>
                    <li>
                        <strong>walltime:</strong> <span th:text="${resourceList.walltime}"></span>
                    </li>
                </ul>
            </td>
            <td><span th:text="${job.stime}"></span></td>
            <td><span th:text="${job.obittime}"></span></td>
            <td><span th:text="${job.shellPathList}"></span></td>
            <td><span th:text="${job.jobdir}"></span></td>
            <td><span th:text="${job.substate}"></span></td>
<!--        <td><span th:text="${job.variableList}"></span></td>-->
            <td>
                <ul th:each="variableList : ${job.variableList}">
                    <li>
                        <strong>pbsOHome:</strong> <span th:text="${variableList.pbsOHome}"></span>
                    </li>
                    <li>
                        <strong>pbsOLang:</strong> <span th:text="${variableList.pbsOLang}"></span>
                    </li>
                    <li>
                        <strong>pbsOLogname:</strong> <span th:text="${variableList.pbsOLogname}"></span>
                    </li>
                    <li>
                        <strong>pbsOPath:</strong> <span th:text="${variableList.pbsOPath}"></span>
                    </li>
                    <li>
                        <strong>pbsOMail:</strong> <span th:text="${variableList.pbsOMail}"></span>
                    </li>
                    <li>
                        <strong>pbsOShell:</strong> <span th:text="${variableList.pbsOShell}"></span>
                    </li>
                    <li>
                        <strong>pbsOHost:</strong> <span th:text="${variableList.pbsOHost}"></span>
                    </li>
                    <li>
                        <strong>pbsOWorkdir:</strong> <span th:text="${variableList.pbsOWorkdir}"></span>
                    </li>
                    <li>
                        <strong>pbsOSystem:</strong> <span th:text="${variableList.pbsOSystem}"></span>
                    </li>
                    <li>
                        <strong>pbsOQueue:</strong> <span th:text="${variableList.pbsOQueue}"></span>
                    </li>
                </ul>
            </td>

            <td><span th:text="${job.comment}"></span></td>
            <td><span th:text="${job.etime}"></span></td>
            <td><span th:text="${job.umask}"></span></td>
            <td><span th:text="${job.runCount}"></span></td>
            <td><span th:text="${job.eligibleTime}"></span></td>
            <td><span th:text="${job.exitStatus}"></span></td>
            <td><span th:text="${job.submitArguments}"></span></td>
            <td><span th:text="${job.project}"></span></td>
            <td><span th:text="${job.submitHost}"></span></td>
            <td><span th:text="${job.serverInstanceId}"></span></td>

        </tr>
        </tbody>
    </table>

</main>

<footer>
    <p>Copyright 2024 UCAR</p>
</footer>

</body>
</html>