<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base-layout}">

<head>
    <title th:text="${pageTitle}">Job Data Table</title>

    <!-- Any additional page-specific resources -->
    <th:block layout:fragment="head-extras">
    </th:block>
</head>

<body>

<!-- Main content -->
<div layout:fragment="content">
    <div class="container-wrapper">
        <h1 th:text="${pageTitle}"></h1>

        <p><strong>Report Time:</strong> <span th:text="${formattedTimestamp}"></span></p>
        <p><strong>Timestamp:</strong> <span th:text="${timestamp}"></span></p>
        <p><strong>Pbs Version:</strong> <span th:text="${pbsVersion}"></span></p>
        <p><strong>Pbs Server:</strong> <span th:text="${pbsServer}"></span></p>

        <table id="jobTable" class="table table-bordered table-striped">
            <thead class="table-header">
            <tr>
                <th>Job Key</th>
                <th>Job Name</th>
                <th>Job Owner</th>
                <th>Job State</th>
                <th>Queue</th>
                <th>Server</th>
                <th>Account Name</th>
                <th>Checkpoint</th>
                <th class="formatEpoch">Creation Time</th>
                <th class="formatEpoch">Modification Time</th>
                <th>Priority</th>
                <th class="formatEpoch">Queue Time</th>
                <th class="formatEpoch">Start Time</th>
                <th class="formatEpoch">Obit Time</th>
                <th>Job Directory</th>
                <th class="formatEpoch">Elapsed Time</th>
                <th>Umask</th>
                <th>Run Count</th>
                <th>Eligible Time</th>
                <th>Exit Status</th>
                <th>Project</th>
                <th>Submit Host</th>
                <th>Server Instance ID</th>
                <!--Resource Columns -->
                <th class="formattedMemory">Memory</th>
                <th>mpiprocs</th>
                <th>ncpus</th>
                <th>ngpus</th>
                <th>nodect</th>
                <th>place</th>
                <th>walltime</th>
                <th>Comment</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="job : ${jobs}">
                <td><span th:text="${job.jobId}"></span></td>
                <td><span th:text="${job.jobName}"></span></td>
                <td><span th:text="${job.jobOwner}"></span></td>
                <td><span th:text="${job.jobState}"></span></td>
                <td><span th:text="${job.queue}"></span></td>
                <td><span th:text="${job.server}"></span></td>
                <td><span th:text="${job.accountName}"></span></td>
                <td><span th:text="${job.checkpoint}"></span></td>
                <td th:text="${job.ctime != null ? job.ctime : ''}"></td>
                <td th:text="${job.mtime != null ? job.mtime : ''}"></td>
                <td><span th:text="${job.priority}"></span></td>
                <td th:text="${job.qtime != null ? job.qtime : ''}"></td>
                <td th:text="${job.stime != null ? job.stime : ''}"></td>
                <td th:text="${job.obittime != null ? job.obittime : ''}"></td>
                <td><span th:text="${job.jobdir}"></span></td>
                <td th:text="${job.etime != null ? job.etime : ''}"></td>
                <td><span th:text="${job.umask}"></span></td>
                <td><span th:text="${job.runCount}"></span></td>
                <td><span th:text="${job.eligibleTime}"></span></td>
                <td><span th:text="${job.exitStatus}"></span></td>
                <td><span th:text="${job.project}"></span></td>
                <td><span th:text="${job.submitHost}"></span></td>
                <td><span th:text="${job.serverInstanceId}"></span></td>
                <td th:text="${job.formattedMemory}"></td>
                <td th:text="${job.mpiprocs}"></td>
                <td th:text="${job.ncpus}"></td>
                <td th:text="${job.ngpus}"></td>
                <td th:text="${job.nodect}"></td>
                <td th:text="${job.place}"></td>
                <td th:text="${job.walltime}"></td>
                <td><span th:text="${job.comment}"></span></td>
            </tr>
            </tbody>
        </table>

    </div>
</div>

<!-- Page-specific scripts -->
<th:block layout:fragment="scripts">

<script>

    $(document).ready(function () {

        // Put # rows displayed/total at top of table also.
        $('#jobTable').DataTable({
                paging: false,
                dom: '<"top"if>rt<"bottom"i><"clear">', // f for search/filter box
                language: {
                    info: "Showing _START_ to _END_ of _TOTAL_ entries",
                    infoFiltered: "(filtered from _MAX_ total entries)"
                },
                columnDefs: [
                    {
                        // Format memory from raw bytes to size with units
                        targets: 'formattedMemory',
                        type: 'file-size' // Use file-size plugin for visible column
                    },
                    {
                        // Format epoch data to a human-readable date
                        targets: 'formatEpoch',  // Target using class name for 'ctime', etc <th class="formatEpoch">
                        render: function (data, type, row) {
                            //console.log("Incoming data to render:", data); // Debug incoming row data for this column
                            //  return DataTable.render.datetime('x', 'YYYY-MM-DDTHH:mm:ssZ')(data);
                            if (!data) { // Check if the data is null, undefined
                                return ''; // Return an empty string for display
                            }

                            var epochMillis = parseInt(data);
                            // Get the browser's local time zone
                            var timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;

                            // Make the data look user-friendly/readable and for search/filter, not sort, which needs raw data
                            if (type === 'display' || type === 'filter') {
                                return moment(epochMillis)
                                    .tz(timezone) //  use browser's time zone
                                    .format('YYYY-MM-DD HH:mm:ss z'); // 'z' for abbreviation like MST or PST
                            }

                            return data; // Raw data for sorting
                        }
                    }
                ]

            }
        ); // End DataTable

    });
</script>
</th:block>

</body>
</html>