<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Job Details</title>
</head>
<body>

<header>Site Branding and Logo</header>

<main>
    <h1 th:text="${pageTitle}"></h1>

    <p><strong>Job Timestamp:</strong> <span th:text="${jobData.timestamp}"></span></p>
    <p><strong>Job Pbs Version:</strong> <span th:text="${jobData.pbsVersion}"></span></p>
    <p><strong>Job Pbs Server:</strong> <span th:text="${jobData.pbsServer}"></span></p>

    <div th:each="jobvar : ${jobData.jobs}">
        <hr>
        <div>
            <span th:text="${jobvar.key}"></span>
        </div>

        <div th:each="prop : ${jobvar.value.additionalProperties}">
            <strong><span th:text="${prop.key}"></span></strong>: <span th:text="${prop.value}"></span>
        </div>
    </div>

</main>

<footer>
    <p>Copyright &copy; 2024 UCAR</p>
</footer>

</body>
</html>