<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Job Details</title>
</head>
<body>

<header>Future Site Branding and Logo</header>

<main>
    <h1 th:text="${pageTitle}"></h1>

    <p><strong>Job Timestamp:</strong> <span th:text="${jobData.timestamp}"></span></p>
    <p><strong>Job Pbs Version:</strong> <span th:text="${jobData.pbsVersion}"></span></p>
    <p><strong>Job Pbs Server:</strong> <span th:text="${jobData.pbsServer}"></span></p>

    <div th:each="job : ${jobData.jobs}">
        <hr>
        <div>
            <h3><span th:text="${job.key}"></span></h3>
        </div>

        <div th:each="prop : ${job.value.additionalProperties}">
            <strong><span th:text="${prop.key}"></span></strong>: <span th:text="${prop.value}"></span>


        </div>

<!--        <div th:with="resourceList=${job.value.resourceList}">-->
<!--            <h2>Resource List</h2>-->
<!--            <ul>-->
<!--                <li><strong>Field 1:</strong> <span th:text="${resourceList.mem}"></span></li>-->
<!--                <li><strong>Field 2:</strong> <span th:text="${resourceList.ncpus}"></span></li>-->
<!--                <li><strong>Field 3:</strong> <span th:text="${resourceList.walltime}"></span></li>-->
<!--            </ul>-->
<!--        </div>-->
    </div>

</main>

<footer>
    <p>Copyright &copy; 2024 UCAR</p>
</footer>

</body>
</html>