<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Default Title</title>
  <!-- Include Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QsjiWHEIKX1FAYuX1ZDrRWbR8YP4juRnT+OURL+nbt6IjXblUefFgCiUbPQT6F94" crossorigin="anonymous">
</head>
<body>
<header>
  <!-- Common Header -->
  <p class="text-center py-4">Future Site Branding and Logo</p>
</header>

<main>
  <!-- Placeholder for dynamic content -->
  <div th:replace="${content}"></div>
</main>

<footer class="text-center py-3 bg-light">
  <p>Copyright 2024 UCAR</p>
</footer>

</body>
</html>